<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!-- 添加自定义节点定义-->
    <section name="ntripProxySetting8001" type="NtripForward.ConfigNode.ProxySetting,NtripForward"/>
    <section name="ntripProxySetting8002" type="NtripForward.ConfigNode.ProxySetting,NtripForward"/>
    <section name="ntripProxySetting8003" type="NtripForward.ConfigNode.ProxySetting,NtripForward"/>
  </configSections>
  <!--localPort本地端口,remotePort千寻端口,remoteIP千寻IP,timeout多久未发送信息关闭连接时间(毫秒为单位),enableLogGGA是否记录GGA信息,ggaRepeatRate概率位置中继频率(毫秒/次), ggaRecordRate概略位置记录频率(次)-->
  <ntripProxySetting8001 localPort="8001" remotePort="8001" remoteIP="60.205.8.49" timeout="60000" enableLogGGA="true" ggaRepeatRate="3000" ggaRecordRate="5"/>
  <ntripProxySetting8002 localPort="8002" remotePort="8002" remoteIP="60.205.8.49" timeout="60000" enableLogGGA="true" ggaRepeatRate="3000" ggaRecordRate="5"/>
  <ntripProxySetting8003 localPort="8003" remotePort="8003" remoteIP="60.205.8.49" timeout="60000" enableLogGGA="true" ggaRepeatRate="3000" ggaRecordRate="5"/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <connectionStrings>
    <add name="NtripForwardDB" connectionString="data source=NTRIP-PROXY;initial catalog=NtripProxy;user id=lucifer;password=111111a!;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
